$background: #f7f7f7;

$gold: #886C53;
$primary: #F7B742;
$primary-dark: #D69B3A;
$primary-assent: #F7B742;
$primary-border: #F7B742;

$secondary: #fb7078;
$secondary-assent: #fde4e6;

$dark: #040405;
$light-dark: #262630;
$light: #ebf1fa;

$green: #03c99c;

$white: #ffffff;
$white-bg: #FAFAFA;
$white-assent: #ebf1fa;

$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1),
0 1px 2px 0 rgba(0, 0, 0, .06);

// break-points
$media-tab: 576px;

$menu-active: #B40000;
$grey: #5D5D5D;
$light-grey: #989898;
$text-grey: #808080;
$green: #61C905;

$universal-color: #000;

$accordian-bgcolor: #EEE;
$accordian-color: #EAC6B7;
$accordian-menuitem-color: #EDCFC2



